@model RecursosHumanos.Models.Empleados

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Completa los campos del formulario</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="contenedor-campos">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset class="borde margin">

            <legend>Información Personal</legend>

            <div class="campo">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "campo-texto", @placeholder = "Carlos" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "campo-texto", @placeholder = "Martínez" } })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "campo-texto", @placeholder = "8098346574" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>

        <fieldset class="borde margin">

            <legend>Información Empresarial</legend>

            <div class="campo">
                @Html.LabelFor(model => model.Codigo_Empleado, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Codigo_Empleado, new { htmlAttributes = new { @class = "campo-texto", @min = "1" } })
                    @Html.ValidationMessageFor(model => model.Codigo_Empleado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Departamento, "Departamento", htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.DropDownList("Departamento", null, htmlAttributes: new { @class = "campo-texto" })
                    @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Cargo, "Cargo", htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.DropDownList("Cargo", null, htmlAttributes: new { @class = "campo-texto" })
                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "campo-texto" } })
                    @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Fecha_De_Ingreso, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Fecha_De_Ingreso, new { htmlAttributes = new { @class = "campo-texto" } })
                    @Html.ValidationMessageFor(model => model.Fecha_De_Ingreso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Estatus, new { htmlAttributes = new { @class = "campo-texto" } })
                    @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>

        <div class="opciones">       
            <a href="@Url.Action("Index")" class="boton"><i class="fas fa-user-times"></i> Cancelar</a>
            <button type="submit" class="boton"><i class="fas fa-user-plus"></i> Añadir</button>                   
        </div><!--OPCIONES-->
    </div>
    }

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>