@model RecursosHumanos.Models.Empleados

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Empleados</h2>

    <h3>¿Seguro que quieres eliminar este empleado?</h3>

    <div class="contenedor-tablas">

        <table class="table">
            <tr class="tabla-header">
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Empleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento1.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cargo1.Cargo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_De_Ingreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Codigo_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Departamento1.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.cargo1.Cargo1)
                </td>
                <td>
                    RD$ @Html.DisplayFor(model => model.Salario)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fecha_De_Ingreso)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Estatus)
                </td>
            </tr>
        </table>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="opciones">
                <a href="@Url.Action("Index")" class="boton"><i class="fas fa-user-times"></i> Cancelar</a>
                <button type="submit" class="boton"><i class="fas fa-trash-alt"></i> Eliminar</button>
            </div><!--OPCIONES-->
        }
    </div>
</div>
