@model IEnumerable<RecursosHumanos.Models.Empleados>
@{
    ViewBag.Title = "EmpleadosActivos";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Empleados Activos</h2>

    <div class="contenedor-tablas">

        <table class="table">
            <tr class="tabla-header">
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Empleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento1.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cargo1.Cargo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_De_Ingreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="tabla-body">
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Empleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento1.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cargo1.Cargo1)
                    </td>
                    <td>
                        RD$ @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_De_Ingreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                </tr>
            }
        </table>

        <div class="opciones">
            <a href="@Url.Action("Informes", "Home")" class="boton"><i class="fas fa-chevron-left"></i> Volver</a>
        </div><!--OPCIONES-->
    </div><!--contenedor-tablas-->
</div>
