
@{
    ViewBag.Title = "Informes";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo">
    <h2 class="margin">Informes</h2>

    <div class="contenedor-iconos contenedor margin">

        <div class="modulo">
            <a href="@Url.Action("EmpleadosActivos", "Empleados")">
                <i class="fas fa-user-tie"></i>
                <p>Empleados Activos</p>
            </a>
        </div>

        <div class="modulo">
            <a href="@Url.Action("EmpleadosInactivos", "Empleados")">
                <i class="fas fa-user-times"></i>
                <p>Empleados Inactivos</p>
            </a>
        </div>

        <div class="modulo">
            <a href="@Url.Action("VerNominas", "Nominas")">
                <i class="fas fa-money-check-alt"></i>
                <p>Nóminas</p>
            </a>
        </div>

        <div class="modulo">
            <a href="@Url.Action("VerDepartamentos", "Departamentoes")">
                <i class="far fa-building"></i>
                <p>Departamentos</p>
            </a>
        </div>

        <div class="modulo">
            <a href="@Url.Action("VerCargos", "Cargoes")">
                <i class="fas fa-user-cog"></i>
                <p>Cargos</p>
            </a>
        </div>

        <div class="modulo">
            <a href="@Url.Action("VerPermisos", "Permisoes")">
                <i class="fas fa-user-injured"></i>
                <p>Permisos</p>
            </a>
        </div>

    </div>
</div>