@model RecursosHumanos.Models.cargo

@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Editar nombre del cargo</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="contenedor-campos">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <fieldset class="borde margin">

            <legend>Información del cargo</legend>

            <div class="campo">
                @Html.LabelFor(model => model.Cargo1, htmlAttributes: new { @class = "label" })
                <div class="entrada">
                    @Html.EditorFor(model => model.Cargo1, new { htmlAttributes = new { @class = "campo-texto" } })
                    @Html.ValidationMessageFor(model => model.Cargo1, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>

        <div class="opciones">
            <a href="@Url.Action("Index")" class="boton"><i class="fas fa-user-times"></i> Cancelar</a>
            <button type="submit" class="boton"><i class="far fa-save"></i> Guardar</button>
        </div><!--OPCIONES-->
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>