@model RecursosHumanos.Models.Permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
