@model RecursosHumanos.Models.Licencias

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Departamentos</h2>

    <h3>¿Seguro que quieres eliminar este registro?</h3>

    <div class="contenedor-tablas">

        <table class="table">
            <tr class="tabla-header">
                <th>
                    @Html.DisplayNameFor(model => model.Empleados.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Salida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Entrada)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Empleados.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fecha_Salida)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fecha_Entrada)
                </td>
            </tr>
        </table>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="opciones">
                <a href="@Url.Action("Index")" class="boton"><i class="fas fa-user-times"></i> Cancelar</a>
                <button type="submit" class="boton"><i class="fas fa-trash-alt"></i> Eliminar</button>
            </div><!--OPCIONES-->
        }
    </div>
</div>