@model RecursosHumanos.Models.Licencias

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div class="contenedor-modulo contenedor">
    <h2 class="margin">Detalles</h2>
    <div class="contenedor-campos">
        <fieldset class="borde margin">

            <legend>Información de licencia</legend>

            <div class="campo">
                @Html.LabelFor(model => model.FK_Empleado, "Empleado", htmlAttributes: new { @class = "label" })
                <div class="info">
                    @Html.DisplayFor(model => model.Empleados.Nombre)
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "label" })
                <div class="info">
                    @Html.DisplayFor(model => model.Comentario)
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Fecha_Salida, htmlAttributes: new { @class = "label" })
                <div class="info">
                    @Html.DisplayFor(model => model.Fecha_Salida)
                </div>
            </div>

            <div class="campo">
                @Html.LabelFor(model => model.Fecha_Entrada, htmlAttributes: new { @class = "label" })
                <div class="info">
                    @Html.DisplayFor(model => model.Fecha_Entrada)
                </div>
            </div>

        </fieldset>
        <div class="opciones">
            <a href="@Url.Action("Index")" class="boton"><i class="fas fa-chevron-left"></i> Volver</a>
            <a style="margin-right:0!important" href="@Url.Action("Edit", new { id = Model.ID })" class="boton"><i class="fas fa-user-edit"></i> Editar</a>
        </div><!--OPCIONES-->     
    </div>
</div>